@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;400;500&display=swap');
.container {
    padding: 0 !important;
    max-width: 1350px;
    margin: auto;
}

.fixed {
    transition: 2s;
    position: fixed;
    top: 0;
    background-color: #47a7f594;
    width: 100%;
    margin: auto;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    padding: 35px !important;
}

.nav-link:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255) !important;
    background: rgb(25, 94, 211);
    background: linear-gradient(0deg, rgba(25, 94, 211, 1) 0%, rgba(169, 92, 250, 1) 100%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav-link.active {
    color: rgb(255, 255, 255) !important;
    background: rgb(25, 94, 211);
    background: linear-gradient(0deg, rgba(25, 94, 211, 1) 0%, rgba(169, 92, 250, 1) 100%);
}

.banner {
    width: 100%;
    height: 765px;
    margin: auto;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.orange {
    background: rgb(255, 134, 21);
    background: linear-gradient(0deg, rgba(255, 134, 21, 1) 0%, rgba(255, 175, 0, 1) 100%);
    padding: 30px;
}

.blue {
    background: rgb(22, 94, 210);
    background: linear-gradient(0deg, rgba(22, 94, 210, 1) 0%, rgba(183, 92, 254, 1) 100%);
    padding: 30px;
}

.red {
    background: rgb(255, 28, 151);
    background: linear-gradient(0deg, rgba(255, 28, 151, 1) 0%, rgba(255, 47, 81, 1) 100%);
    padding: 30px;
}

.pink {
    background: rgb(184, 30, 224);
    background: linear-gradient(0deg, rgba(184, 30, 224, 1) 0%, rgba(254, 20, 231, 1) 100%);
    padding: 30px;
}

.header-bottom {
    margin-top: -130px;
}

.header-bottom h1 {
    color: white;
    font-size: 51px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header-bottom p {
    color: white;
    margin-top: 40px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.fa-chevron-right {
    font-size: 50px;
    color: white;
}

.background1 {
    background-color: #f7f7f7;
    padding: 110px 60px;
}

.background2 {
    background-color: #f7f7f7;
    padding: 68px 60px;
}

.background1 h1, .background2 h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.background1 p, .background2 p {
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 35px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mygap {
    margin-top: 60px;
}

.mybutton, .mybutton1 {
    border: none;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    background: rgb(255, 137, 0);
    background: linear-gradient(90deg, rgba(255, 137, 0, 1) 0%, rgba(255, 94, 39, 1) 50%, rgba(255, 51, 77, 1) 100%);
    padding: 15px 30px;
}

.mybutton:hover, .mybutton1:hover {
    border: none;
    font-size: 23px;
    color: black;
    background: rgb(255, 137, 0);
    background: linear-gradient(90deg, rgba(255, 137, 0, 1) 0%, rgba(255, 94, 39, 1) 50%, rgba(255, 51, 77, 1) 100%);
    padding: 15px 30px;
}

.poster {
    height: 700px;
    background-image: url(../image/image3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}

.poster-inner {
    height: 700px;
    background: rgb(233, 5, 128);
    background: linear-gradient(0deg, rgba(233, 5, 128, 0.8239496482186625) 0%, rgba(230, 50, 82, 0.9135855025603992) 100%);
    padding: 80px 70px;
    color: white;
}

.poster-inner h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.poster-inner p {
    font-size: 23px;
    line-height: 25px;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mybutton2 {
    border: none;
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.event {
    color: white;
    padding: 75px 70px;
    background: rgb(255, 128, 1);
    background: linear-gradient(0deg, rgba(255, 128, 1, 1) 0%, rgba(255, 186, 24, 1) 100%);
}

.event h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.event p {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.event img {
    padding-top: 5px;
}

.testimonial {
    margin-top: 160px;
}

.testimonial img {
    margin-top: -130px;
}

.testimonial p {
    font-size: 23px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.testimonial h3 {
    color: #ff6300;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.testimonial1 {
    background-color: #f3f3f3;
    padding: 35px;
    font-size: 23px;
}

.testimonial2 {
    background-color: #f3f3f3;
    padding: 35px;
    font-size: 23px;
}

.testimonial3 {
    background-color: #f3f3f3;
    padding: 35px;
    font-size: 23px;
}

.testimonial4 {
    background-color: #f3f3f3;
    padding: 35px;
    font-size: 23px;
}

.icon-mobile {
    font-size: 35px;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-left: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 4px;
    background-color: white;
    color: #0095dd;
}

.icon-instagram {
    font-size: 35px;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-left: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 4px;
    background-color: white;
    color: #0095dd;
}

.icon-facebook {
    font-size: 35px;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-left: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 4px;
    background-color: white;
    color: #0095dd;
}

.icon-twitter {
    font-size: 35px;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 4px;
    background-color: white;
    color: #0095dd;
}

.icon-whatsapp {
    font-size: 35px;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-left: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 3px;
    background-color: white;
    color: #0095dd;
}

.contact {
    color: white;
    background-color: #0095dd;
    padding: 80px 70px;
}

.contact h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.contact p {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer {
    margin: 0;
    padding: 35px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@media(max-width:1024px) {
    .navbar-brand {
        font-size: 1.25rem;
        white-space: nowrap;
        margin-left: 20px;
    }
    .nav-item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    .orange {
        background: rgb(255, 134, 21);
        background: linear-gradient(0deg, rgba(255, 134, 21, 1) 0%, rgba(255, 175, 0, 1) 100%);
        padding: 30px;
        height: 400px;
    }
    .blue {
        background: rgb(22, 94, 210);
        background: linear-gradient(0deg, rgba(22, 94, 210, 1) 0%, rgba(183, 92, 254, 1) 100%);
        padding: 30px;
    }
    .red {
        background: rgb(255, 28, 151);
        background: linear-gradient(0deg, rgba(255, 28, 151, 1) 0%, rgba(255, 47, 81, 1) 100%);
        padding: 30px;
    }
    .pink {
        background: rgb(184, 30, 224);
        background: linear-gradient(0deg, rgba(184, 30, 224, 1) 0%, rgba(254, 20, 231, 1) 100%);
        padding: 30px;
    }
    .header-bottom h1 {
        color: white;
        font-size: 35px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .header-bottom p {
        color: white;
        margin-top: 20px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .fa-chevron-right {
        padding-top: 110px;
        font-size: 50px;
        color: white;
    }
    .background1 h1, .background2 h1 {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .background1 {
        background-color: #f7f7f7;
        padding: 71px 35px;
    }
    .background1 p, .background2 p {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
        line-height: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .mybutton {
        border: none;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: white;
        background: rgb(255, 137, 0);
        background: linear-gradient(90deg, rgba(255, 137, 0, 1) 0%, rgba(255, 94, 39, 1) 50%, rgba(255, 51, 77, 1) 100%);
        padding: 10px 25px;
    }
    .background2 {
        background-color: #f7f7f7;
        padding: 53px 35px;
    }
    .poster-inner h1 {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .poster-inner p {
        font-size: 20px;
        line-height: 25px;
        margin: 30px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .mybutton2 {
        border: none;
        background-color: white;
        color: black;
        padding: 10px 25px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .event {
        color: white;
        padding: 20px 41px;
        background: rgb(255, 128, 1);
        background: linear-gradient(0deg, rgba(255, 128, 1, 1) 0%, rgba(255, 186, 24, 1) 100%);
    }
    .event h1 {
        font-size: 30px;
        margin-bottom: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .event p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .testimonial1 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
        height: 345px;
    }
    .testimonial2 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
        height: 345px;
    }
    .testimonial3 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
        height: 345px;
    }
    .testimonial4 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
        height: 345px;
    }
    .testimonial p {
        font-size: 20px;
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    .testimonial2 h3, .testimonial3 h3 {
        margin-top: 65px;
    }
    .contact h1 {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .contact p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    .icon-mobile {
        font-size: 30px;
        border: 1px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding-left: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        padding-top: 4px;
        background-color: white;
        color: #0095dd;
    }
    .footer {
        padding: 20px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
    }
}

@media(max-width:1023px) {
    .nav-link {
        color: rgb(0, 0, 0) !important;
        padding: 5px !important;
    }
    .banner {
        width: 100%;
        height: 400px;
        margin: auto;
        background-image: url(../image/banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media(max-width:954px) {
    .testimonial3 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
    }
    .testimonial4 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
    }
}

@media(max-width:954px) {
    .banner {
        width: 100%;
        height: 300px;
        margin: auto;
        background-image: url(../image/banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .header-bottom h1 {
        color: white;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .fa-chevron-right {
        padding-top: 120px;
        font-size: 35px;
        color: white;
    }
    .testimonial2 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
    }
}

@media(max-width:634px) {
    .testimonial1 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
    }
    .testimonial2 {
        background-color: #f3f3f3;
        padding: 35px;
        font-size: 23px;
    }
}

@media(max-width:423px) {
    .poster-inner {
        height: 700px;
        background: rgb(233, 5, 128);
        background: linear-gradient(0deg, rgba(233, 5, 128, 0.8239496482186625) 0%, rgba(230, 50, 82, 0.9135855025603992) 100%);
        padding: 40px 30px;
        color: white;
    }
    .contact {
        color: white;
        background-color: #0095dd;
        padding: 30px 20px;
    }
    .footer {
        padding: 15px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
    }
}

.glow-on-hover {
    width: 180px;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}